<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div data-container="tabset">
        <div data-container="tab" data-tab-text="Datos Generales">
            <div data-container="collapsible" data-header-text="Datos Generales">
                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Definicion_Solicitud_Documento_Id" class="spanText">Definicion_Solicitud_Documento_Id</span>
                    <span data-control="field" data-field="Definicion_Solicitud_Documento_Id" class="fieldTextRequired">[Definicion_Solicitud_Documento_Id]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Contratado_Id" class="spanText">Contratado_Id</span>
                    <span data-control="field" data-field="Contratado_Id" class="fieldTextRequired">[Contratado_Id]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Layout_HTML_Id" class="spanText">Layout_HTML_Id</span>
                    <span data-control="field" data-field="Layout_HTML_Id" class="fieldTextRequired">[Layout_HTML_Id]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Emision_Documento" class="spanText">Fecha_Emision_Documento</span>
                    <span data-control="field" data-field="Fecha_Emision_Documento" class="fieldTextRequired">[Fecha_Emision_Documento]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" style="display: none;">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Layout_Documento" class="spanText">Layout_Documento</span>
                    <span data-control="field" data-field="Layout_Documento" class="fieldTextRequired">[Layout_Documento]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Pagadora_Id" class="spanText">Pagadora_Id</span>
                    <span data-control="field" data-field="Pagadora_Id" class="fieldTextRequired">[Pagadora_Id]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Leyenda_Sindicato" class="spanText">Leyenda_Sindicato</span>
                    <span data-control="field" data-field="Leyenda_Sindicato" class="fieldTextRequired">[Leyenda_Sindicato]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Jefe_Sindicato" class="spanText">Jefe_Sindicato</span>
                    <span data-control="field" data-field="Jefe_Sindicato" class="fieldTextRequired">[Jefe_Sindicato]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Destinatario" class="spanText">Destinatario</span>
                    <span data-control="field" data-field="Destinatario" class="fieldTextRequired">[Destinatario]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Ciudad_Emision" class="spanText">Ciudad_Emision</span>
                    <span data-control="field" data-field="Ciudad_Emision" class="fieldTextRequired">[Ciudad_Emision]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Emisor" class="spanText">Emisor</span>
                    <span data-control="field" data-field="Emisor" class="fieldTextRequired">[Emisor]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Departamento_Emisor" class="spanText">Departamento_Emisor</span>
                    <span data-control="field" data-field="Departamento_Emisor" class="fieldTextRequired">[Departamento_Emisor]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Solicitud" class="spanText">Fecha_Solicitud</span>
                    <span data-control="field" data-field="Fecha_Solicitud" class="fieldTextRequired">[Fecha_Solicitud]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Estatus_Solicitud_Id" class="spanText">Estatus_Solicitud_Id</span>
                    <span data-control="field" data-field="Estatus_Solicitud_Id" class="fieldTextRequired">[Estatus_Solicitud_Id]</span>
                </div><!-- <div data-container="row">-->

            </div><!--<div data-container="collapsible" data-header-text="Solicitud de Documento">-->

                <div data-container="collapsible" data-header-text="Datos de Guardería" data-visibility="c:c3">

                    <div data-container="row">
                        <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                        <span data-control="label" data-field="Fecha_Inicio_Vacaciones" class="spanText">Fecha_Inicio_Vacaciones</span>
                        <span data-control="field" data-field="Fecha_Inicio_Vacaciones" class="fieldTextRequired">[Fecha_Inicio_Vacaciones]</span>
                    </div><!-- <div data-container="row">-->

                    <div data-container="row">
                        <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                        <span data-control="label" data-field="Fecha_Fin_Vacaciones" class="spanText">Fecha_Fin_Vacaciones</span>
                        <span data-control="field" data-field="Fecha_Fin_Vacaciones" class="fieldTextRequired">[Fecha_Fin_Vacaciones]</span>
                    </div><!-- <div data-container="row">-->

                    <div data-container="row">
                        <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                        <span data-control="label" data-field="Dias_Descanso" class="spanText">Dias_Descanso</span>
                        <span data-control="field" data-field="Dias_Descanso" class="fieldTextRequired">[Dias_Descanso]</span>
                    </div><!-- <div data-container="row">-->

                    <div data-container="row">
                        <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                        <span data-control="label" data-field="Nombre_Menor_Guarderia" class="spanText">Nombre_Menor_Guarderia</span>
                        <span data-control="field" data-field="Nombre_Menor_Guarderia" class="fieldTextRequired">[Nombre_Menor_Guarderia]</span>
                    </div><!-- <div data-container="row">-->

                    <div data-container="row">
                        <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                        <span data-control="label" data-field="Finalidad_Documento_Guarderia_Id" class="spanText">Finalidad_Documento_Guarderia_Id</span>
                        <span data-control="field" data-field="Finalidad_Documento_Guarderia_Id" class="fieldTextRequired">[Finalidad_Documento_Guarderia_Id]</span>
                    </div><!-- <div data-container="row">-->

                </div><!--<div data-container="collapsible" data-header-text="Carta de Guardería">--> 


            <div data-container="collapsible" data-header-text="Carta de Prácticas y Servicio Social" data-visibility="c:c4">
                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Matricula_Persona" class="spanText">Matricula_Persona</span>
                    <span data-control="field" data-field="Matricula_Persona" class="fieldTextRequired">[Matricula_Persona]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Carrera_Universitaria" class="spanText">Carrera_Universitaria</span>
                    <span data-control="field" data-field="Carrera_Universitaria" class="fieldTextRequired">[Carrera_Universitaria]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Horas_Trabajadas" class="spanText">Horas_Trabajadas</span>
                    <span data-control="field" data-field="Horas_Trabajadas" class="fieldTextRequired">[Horas_Trabajadas]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Inicio_Vacaciones" class="spanText">Fecha_Inicio_Vacaciones</span>
                    <span data-control="field" data-field="Fecha_Inicio_Vacaciones" class="fieldTextRequired">[Fecha_Inicio_Vacaciones]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Fin_Vacaciones" class="spanText">Fecha_Fin_Vacaciones</span>
                    <span data-control="field" data-field="Fecha_Fin_Vacaciones" class="fieldTextRequired">[Fecha_Fin_Vacaciones]</span>
                </div><!-- <div data-container="row">-->
            </div><!--<div data-container="collapsible" data-header-text="Carta de Prácticas y Servicio Social">-->

        
        </div><!--<div data-container="tab" data-tab-text="Datos Generales">-->

        <!--
           <div data-container="tab" data-tab-text="Shipping info" data-visibility="c:c3"> 
        -->
            
              
            <!--
        </div><!--<div data-container="tab" data-tab-text="Carta de Guardería">-->        
           
        <!--
        <div data-container="tab" data-tab-text="Carta de Prácticas y Servicio Social" data-visible-when="$row.Definicion_Solicitud_Documento_Id==6">
            -->

    <!--
        </div><!--<div data-container="tab" data-tab-text="Carta de Prácticas y Servicio Social">-->
    
        

        <div data-container="tab" data-tab-text="Del Contratado">
            <div data-container="collapsible" data-header-text="Del Contratado">
                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Nombre_Completo_Contratado" class="spanText">Nombre_Completo_Contratado</span>
                    <span data-control="field" data-field="Nombre_Completo_Contratado" class="fieldTextRequired">[Nombre_Completo_Contratado]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Sueldo_Empleado_Valor_Letra" class="spanText">Sueldo_Empleado_Valor_Letra</span>
                    <span data-control="field" data-field="Sueldo_Empleado_Valor_Letra" class="fieldTextRequired">[Sueldo_Empleado_Valor_Letra]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Ingreso_Empleado" class="spanText">Fecha_Ingreso_Empleado</span>
                    <span data-control="field" data-field="Fecha_Ingreso_Empleado" class="fieldTextRequired">[Fecha_Ingreso_Empleado]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Fecha_Termino_Labores_Empleado" class="spanText">Fecha_Termino_Labores_Empleado</span>
                    <span data-control="field" data-field="Fecha_Termino_Labores_Empleado" class="fieldTextRequired">[Fecha_Termino_Labores_Empleado]</span>
                </div><!-- <div data-container="row">-->
            </div><!--<div data-container="collapsible" data-header-text="Del Contratado">-->
        </div><!--<div data-container="tab" data-tab-text="Del Contratado">-->

        <div data-container="tab" data-tab-text="Del Contratante">
            <div data-container="collapsible" data-header-text="Del Contratante">
                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Domicilio_Contratante" class="spanText">Domicilio_Contratante</span>
                    <span data-control="field" data-field="Domicilio_Contratante" class="fieldTextRequired">[Domicilio_Contratante]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Codigo_Postal_Contratante" class="spanText">Codigo_Postal_Contratante</span>
                    <span data-control="field" data-field="Codigo_Postal_Contratante" class="fieldTextRequired">[Codigo_Postal_Contratante]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Registro_Patronal" class="spanText">Registro_Patronal</span>
                    <span data-control="field" data-field="Registro_Patronal" class="fieldTextRequired">[Registro_Patronal]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Numero_Telefonico_Contratante" class="spanText">Numero_Telefonico_Contratante</span>
                    <span data-control="field" data-field="Numero_Telefonico_Contratante" class="fieldTextRequired">[Numero_Telefonico_Contratante]</span>
                </div><!-- <div data-container="row">-->
            </div><!--<div data-container="collapsible" data-header-text="Del Contratante">-->
        </div><!--<div data-container="tab" data-tab-text="Del Contratante">-->

        <div data-container="tab" data-tab-text="Otros">
            <div data-container="collapsible" data-header-text="Otros">
                <div data-container="row" id="row-atributo-1" data-visible-when="$row.Atributo1 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-1" data-control="field" data-field="Atributo1" class="spanText">[Atributo1]</span>
                    <span data-control="field" data-field="ValorAtributo1" class="fieldTextRequired">[ValorAtributo1]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-2" data-visible-when="$row.Atributo2 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-2" data-control="field" data-field="Atributo2" class="spanText">[Atributo2]</span>
                    <span data-control="field" data-field="ValorAtributo2" class="fieldTextRequired">[ValorAtributo2]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-3" data-visible-when="$row.Atributo3 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-3" data-control="field" data-field="Atributo3" class="spanText">[Atributo3]</span>
                    <span data-control="field" data-field="ValorAtributo3" class="fieldTextRequired">[ValorAtributo3]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-4" data-visible-when="$row.Atributo4 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-4" data-control="field" data-field="Atributo4" class="spanText">[Atributo4]</span>
                    <span data-control="field" data-field="ValorAtributo4" class="fieldTextRequired">[ValorAtributo4]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-5" data-visible-when="$row.Atributo5 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-5" data-control="field" data-field="Atributo5" class="spanText">[Atributo5]</span>
                    <span data-control="field" data-field="ValorAtributo5" class="fieldTextRequired">[ValorAtributo5]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-6" data-visible-when="$row.Atributo6 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-6" data-control="field" data-field="Atributo6" class="spanText">[Atributo6]</span>
                    <span data-control="field" data-field="ValorAtributo6" class="fieldTextRequired">[ValorAtributo6]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-7" data-visible-when="$row.Atributo7 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-7" data-control="field" data-field="Atributo7" class="spanText">[Atributo7]</span>
                    <span data-control="field" data-field="ValorAtributo7" class="fieldTextRequired">[ValorAtributo7]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-8" data-visible-when="$row.Atributo8 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-8" data-control="field" data-field="Atributo8" class="spanText">[Atributo8]</span>
                    <span data-control="field" data-field="ValorAtributo8" class="fieldTextRequired">[ValorAtributo8]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-9" data-visible-when="$row.Atributo9 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-9" data-control="field" data-field="Atributo9" class="spanText">[Atributo9]</span>
                    <span data-control="field" data-field="ValorAtributo9" class="fieldTextRequired">[ValorAtributo9]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row" id="row-atributo-10" data-visible-when="$row.Atributo10 != null">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span id="atributo-10" data-control="field" data-field="Atributo10" class="spanText">[Atributo10]</span>
                    <span data-control="field" data-field="ValorAtributo10" class="fieldTextRequired">[ValorAtributo10]</span>
                </div><!-- <div data-container="row">-->


            </div><!--<div data-container="collapsible" data-header-text="Otros">-->
        </div><!--<div data-container="tab" data-tab-text="Otros">-->

        <div data-container="tab" data-tab-text="Subir Archivo">
            <div data-container="collapsible" data-header-text="Subir Archivo">
                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Picture2" class="spanText">Picture2</span>
                    <span data-control="field" data-field="Picture2" class="fieldTextRequired">[Picture2]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Picture2FileName" class="spanText">Picture2FileName</span>
                    <span data-control="field" data-field="Picture2FileName" class="fieldTextRequired">[Picture2FileName]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Picture2ContentType" class="spanText">Picture2</span>
                    <span data-control="field" data-field="Picture2ContentType" class="fieldTextRequired">[Picture2ContentType]</span>
                </div><!-- <div data-container="row">-->

                <div data-container="row">
                    <!--LABEL este toma el valor que venga en el COT, por ejemplo si ahí dice Fecha de Inicio y aqui inicio de fecha aparecerá el primero-->
                    <span data-control="label" data-field="Picture2Length" class="spanText">Picture2Length</span>
                    <span data-control="field" data-field="Picture2Length" class="fieldTextRequired">[Picture2Length]</span>
                </div><!-- <div data-container="row">-->
            </div><!--<div data-container="collapsible" data-header-text="Subir Archivo">-->
        </div><!--<div data-container="tab" data-tab-text="Subir Archivo">-->


   </div><!--<div data-container="tabset">-->



</body>
</html>


